.pokemon-list-container {
  margin: 0.75rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;

  border-radius: 1rem;
  background-color: rgba(229, 231, 235, 1);

  cursor: pointer;

  transition: all 350ms ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  > span {
    margin: 0.5rem 1rem 0rem;
  }

  span + span {
    font-weight: 600;
    font-size: 1.25rem;
  }
}
