.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: #374151;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  height: 45rem;
  width: 62rem;

  border-radius: 1rem;
  padding: 1.4rem 1rem;

  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: black;

  .modal-close-button {
    background-color: transparent;
    text-align: center;
    border: none;
    position: absolute;
    right: 1rem;
    margin: 0.25rem 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  .modal-header {
    color: #fff;
  }

  .modal-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-gap: 1rem;

    color: #fff;

    margin: 2rem 1rem;

    > img,
    .modal-info {
      height: 100%;
      width: 100%;
    }

    > img {
      background: #ccc;
      border-radius: 1rem;
    }

    .modal-info {
      text-align: left;
      font-size: 1.5rem;
      background-color: #ccc;
      padding: 0.75rem;
      border-radius: 1rem;

      .modal-stats {
        > div {
          display: flex;
          justify-content: space-between;

          > span {
            color: #fff;
            background-color: #788898;
            width: 50%;
            padding: 1rem;
          }

          &:nth-child(odd) {
            span ~ span {
              background-color: #c8d0d8;
            }
          }

          &:nth-child(even) {
            .stat-name {
              background-color: #8898a8;
            }
          }

          .stat-value {
            background-color: #dbdbdb;
            color: #000;
            text-align: end;
          }
        }
      }

      .modal-types {
        display: flex;
        place-items: center;

        margin: 1.25rem 0;
        color: #000;

        .rock {
          background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
        }

        .ghost {
          background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
        }

        .electric {
          background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
        }

        .bug {
          background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
        }

        .poison {
          background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
        }

        .normal {
          background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
        }

        .fairy {
          background-image: linear-gradient(
            to top,
            #ff9a9e 0%,
            #fecfef 99%,
            #fecfef 100%
          );
        }

        .fire {
          background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        }

        .grass {
          background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
        }

        .water {
          background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
        }

        .ground {
          background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
        }

        > span {
          border-radius: 0.75rem;
          padding: 0.5rem;
          margin-left: 1rem;
        }
      }

      .modal-dimensions {
        color: #000;

        div > span {
          margin-right: 1rem;
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    height: 90%;
    width: 90%;

    .modal-body {
      display: flex;
      flex-direction: column;
    }
  }
}
